<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laundryapp">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".View.Home.Profile.PlanPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".View.Home.Profile.MyPlanActivity"
            android:exported="false" />
        <activity
            android:name=".View.Home.Profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.Home.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".View.Auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.Extra.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LoginActivity -->
        <activity
            android:name=".View.Auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- RegisterActivity -->
        <activity
            android:name=".View.Auth.RegisterActivity"
            android:exported="true" /> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>